<% provide(:title, 'Code') %>
<h3> Code Snippets I Shan't Forget </h3></br>
<% unless @latest_blog_posts.nil? %>

 <% @latest_blog_posts.each do |post| %>
 <% if nil != post && post.respond_to?(:pubDate) %>
 <div style="border-top: 1px solid #aeaeae; padding-top: 10px;">
 <%= link_to post.title, post.link, :target => "_blank" %>
 (<%= time_ago_in_words(post.pubDate) %> ago)</br></br>

	 <%= post.description.html_safe %>
	</div>
 <% end %>
 <% end %>
<% else %>
 <p>
 <em>No blog posts to show.</em>
 </p>
<% end %>