<div class="contact_info"> 
	<p>
		Andrew Knight</br>
		<a href="http://www.wustl.edu">Washington University in St. Louis</a></br>
		Campus Box 1133, One Brookings Drive</br>
		St. Louis, MO 63130-4899</br>
		TEL: +1 314.935.3366</br>
		<a href="mailto:knightap@wustl.edu">knightap@wustl.edu</a></br>
		<a href="http://apknight.org">http://apknight.org</a></br>
	</p>
</div>