<div class="row"> 
	<div class="span6">
		<div class="contact-info">
			<b>Andrew Knight</b> | 			<%= link_to 'Curriculum Vitae', '/resource/CV.pdf' %>			</br>
			<a href="http://www.wustl.edu">Washington University in St. Louis</a></br>
			TEL: +1 314.935.3366</br>
			Office: Simon Hall 256A</br>
			<a href="mailto:knightap@wustl.edu">knightap@wustl.edu</a></br>
		</div>		
		</br>
		<div class="current-research">
			<span style="color: #ff3333; font-size: 1.15em;"><b>Students: Interested in research?</b></span></br></br>
			I welcome student involvement (for pay, experience, and/or credit) in my ongoing research. Current active projects address the following questions:
			<ul>
				<li>How do moods and emotions shape learning in groups and teams over time? 
				<li>How do ideators and entrepreneurs most effectively build feelings of ownership among their new team members? 			
				<li>How do demographic characteristics shape who emerges as influential in groups and teams?
			</ul> 
			If you are interested in research, embrace your inner nerd and <a href="mailto:knightap@wustl.edu">contact me</a>.
		</div>
	</div>
	<div class="span3">
		<img class="front-image" src="/assets/bird_red_small.png">
	</div>
	<div class="span3">
		<img class="front-image" src="/assets/bird_yellow_small.png">	
	</div>
</div>

<div class="row">
	<div class="span6">
		&nbsp;
	</div>
	<div class="span6">
		<div class="front-citation">
			<span style="font-family: serif; font-size: 1.5em; color: #1c1c1c;"><i>Is the bird yellow or orange?</i></br></br></span>
			<a href="http://www.harrietrussell.co.uk">Harriet Russell, "Sixty Impossible Things before Lunch"</a>
		</div>
	</div>
</div>