<% provide(:title, 'New Venture Club') %>
<h3>New Venture Club: An Afterschool Entrepreneurship Club for Middle-School Students</h3>
Launching in January of 2013, New Venture Club is an afterschool club for eighth graders at <a href="http://www.ucityschools.org/vnews/display.v/SEC/Brittany%20Woods%20Middle" target="_BLANK">Brittany Woods Middle School</a> in the University City, MO school district. Club members will work in groups, mentored by faculty and students from Washington University in St. Louis, to develop ideas for new businesses. In the process, club members will learn a range of skills and, of course, <i>have fun</i>. New Venture Club will meet on Thursdays between 3:05 and 4:15 PM at Brittany Woods Middle School. 
<br><br>
<span style="color: #ff3333; font-size: 1.15em;">If you are a parent of a student at Brittany Woods Middle School and would like to learn more about the club, please <a href="mailto:knightap@wustl.edu">contact me</a></span>.
<br><br>
New Venture Club has been made possible by a generous grant from <a href="" target="_BLANK">Mastercard Worldwide</a>.