<% provide(:title, 'New Venture Club') %>
<h3>New Venture Club: An Afterschool Entrepreneurship Club for Middle-School Students</h3>
New Venture Club is an afterschool club for 6th, 7th, and 8th graders at <a href="http://www.ucityschools.org/vnews/display.v/SEC/Brittany%20Woods%20Middle" target="_BLANK">Brittany Woods Middle School</a> in the University City, MO school district. The Club launched in January of 2013, wih a first iteration running between January and May of 2013. The next iteration of the club will run between August and December of 2013. 

Club members work in groups, mentored by faculty and students from Washington University in St. Louis, to develop ideas for new businesses. In the process, club members learn a range of skills and, of course, <i>have fun</i>. New Venture Club meets on Thursdays between 3:05 and 4:15 PM at Brittany Woods Middle School during the school year. 
<br><br>
<span style="color: #ff3333; font-size: 1.15em;">If you are a parent of a student at Brittany Woods Middle School and would like to learn more about the club, please <a href="mailto:knightap@wustl.edu">contact me</a></span>.
<br><br>
New Venture Club has been made possible by a generous grant from <a href="" target="_BLANK">Mastercard Worldwide</a>.