<% provide(:title, 'Resources') %>
<div class="row">
	<div class="span4">
		<h3>Academic</h3></br>
		<h4>Institutes and Partners</h4></br>
			<ul class="resources">
				<li><a href="http://startupweekend.org">Startup Weekend</a>: 54-hour entrepreneurship event. Terrific experience.
				<li><a href="http://schoolpartnershipwustl.com">Institute for School Partnership</a>: Washington University's link with education.
				<li><a href="http://sc.wustl.edu/Pages/default.aspx">Skandalaris Center</a>: Washington University's entrepreneurship center.				
				<li><a href="http://www.gephardtinstitute.wustl.edu/Pages/default.aspx">Gephardt Institute</a>: Washington University's public service and civic engagement initiative.
				<li><a href="http://publichealth.wustl.edu/Pages/default.aspx">Institute for Public Health</a>: Washington University's university-wide public health institute.				
			</ul>
		<h4>Statistics</h4></br>			
			<ul class="resources">
				<li><a href="http://www.r-project.org">R</a>: All hail the glory of open-source statistics software. I love you, R.
				<li><a href="http://lavaan.ugent.be">lavaan</a>: R package for latent variable analysis. Promising alternative to M<i>plus</i>.
				<li><a href="http://statmodel.com">M<i>plus</i></a>: High-powered (and expensive) latent variable modeling.
				<li><a href="http://www.openbugs.info/w/">OpenBugs</a>: Software for Bayesian inference Using Gibbs Sampling.
			</ul>
		<h4>Reference Management</h4></br>			
			<ul class="resources">
				<li><a href="http://www.mendeley.com">Mendeley</a>: Good reference manager that has cloud storage and excellent import functionality. My one gripe is a weak plugin for word processors.
				<li><a href="http://www.zotero.org">Zotero</a>: Browser plug-in for reference management. 
				<li><a href="http://bibdesk.sourceforge.net">BibDesk</a>: Well-written local application for Mac. I used to use this exclusively, but the import functionality of Mendeley won me over. 							
			</ul>			
	</div>

	<div class="span4">
		<h3>Computing</h3></br>
		<h4>General / Productivity</h4></br>
			<ul class="resources">
				<li><a href="http://qsapp.com">Quicksilver</a>: More than an application launcher, change how you compute! (Mac only)
				<li><a href="http://www.barebones.com/products/TextWrangler/">TextWrangler</a>: Fantastic text editor with good shell support. Solid community provides syntax highlighting for most languages.
				<li><a href="http://www.sublimetext.com/2">Sublime Text 2</a>: Also a great text editor with a burgeoning set of plug ins.	
				<li><a href="http://pages.uoregon.edu/koch/texshop/">MacTeX</a>: Nice distribution of LaTeX for Mac, which includes the solid <a href="http://pages.uoregon.edu/koch/texshop/">TeXShop</a> front-end.
				<li><a href="http://www.ffmpegx.com">ffmpegX</a>: GUI front-end for ffmpeg, which is an unbelievable package for converting media files.
			</ul>
		<h4>Web</h4></br>
			<ul class="resources">
				<li><a href="http://www.mamp.info/en/index.html">MAMP</a>: Useful local webserver application for Mac, which leaves Mac's built-in installations alone. I use MAMP in connection with R for data management.
				<li><a href="http://pow.cx">Pow</a>: Nice Rack server for Mac. 
				<li><a href="http://www.limesurvey.org">LimeSurvey</a>: Open source, PHP/MySQL-based surveying suite. 
			</ul>						
	</div>
	
	<div class="span4">
		<h3>St. Louis</h3>
		</br>
		<h4>Food & Drink</h4></br>
		<ul class="resources">
			<li><a href="http://www.meshuggahcafe.com">Meshuggah Coffeeshop</a>: Good environment for writing.
			<li><a href="http://themudhousestl.com">The Mudd House Coffeeshop</a>: Friendly people, good food.
			<li><a href-"http://sumpcoffee.com">Sump Coffeeshop</a>
			<li><a href="http://www.winslowshome.com">Winslow's Home & Farm</a>: Unique shop, good food. 
			<li><a href="http://urbanchestnut.com/home">Urban Chestnut Brewing Company</a>
			<li><a href="http://sixrowbrewco.com">Six Row Brewing Company</a>
		</ul>
		<h4>Kids</h4></br>
		<ul class="resources">
			<li><a href="http://www.citymuseum.org/site/">City Museum</a>: Simply the most interesting, creative place I've ever visited.
			<li><a href="http://www.slsc.org">Science Center</a>: Free and fascinating. 
			<li><a href-"http://www.magichouse.org">Magic House</a>: Neat children's museum, but a little pricey.
			<li><a href-"http://www.citygardenstl.org">Citygarden</a>	
			<li><a href-"http://www.rombachsfarm.com/articles.html">Rombachs Farm</a>: Big pumpkin operation in October. 	
			<li><a href-"http://thurtene.org/Home.html">Thurtene Carnival</a>: Thrown by Washington University students.	
			<li><a href-"http://www.stlzoo.org">St. Louis Zoo</a>: Free. Free. Free.		
			<li><a href="http://www.greatforestparkballoonrace.com">The Great Forest Park Balloon Race</a>: At night the balloons glow...
			<li><a href="http://www.missouribotanicalgarden.org">Missouri Botanical Garden</a>: Lots of room to run.												
		</ul>
		<h4>Community</h4></br>		
		<ul class="resources">
			<li><a href="http://www.towergrovepark.org/">Tower Grove Park</a>: Outstanding farmers' market during the spring/summer months.			
			<li><a href="http://folksschoolstl.org">Folk School of St. Louis</a>: Good organization that offers classes and throws events.						
			<li><a href="http://kdhx.org">KDHX</a>: Independent music plays here.
		</ul>		
		
		
	</div>
</div>		