<% provide(:title, 'Teaching') %>
<h3>Informal Leadership in Organizations</h3>
This course is about <i>informal</i> leadership -- influence without the use of formal power in organizational settings. Informal leadership will be a critical driver of your success in organizations, enabling you to initiate positive change, secure the cooperation of others for your ideas, and, in the process, advance your career. With systematic frameworks as a foundation, you will work to build your effectiveness as an informal leader, developing the characteristics and behaviors you need to exercise influence without formal power in ethical and effective ways. Power and influence issues are ubiquitous; so, this course is intended for people pursuing a wide variety of careers. The key learning objectives in the course are:<br><br>
<ul>
	<li>Increase your self awareness by deepening your insight into (1) how you tend to approach power and influence issues today; (2) the ways you might use power and influence more effectively; and, (3) what you are willing and not willing to do to be influential.<br><br>
	<li>Improve your leadership effectiveness by enhancing your capacity to (1) diagnose organizational dynamics across a variety of situations; (2) act ethically and effectively in key situations; and (3) determine how to best navigate these dynamics across your career.
</ul><br>
<u>Winter 2013 Offerings:</u><br><br>
<ul>
	<li>Undergraduate-level, OB 462 "Leadership in Organizations," Monday & Wednesday, 1:00 - 2:30 PM
	<li>Graduate-level, OB 523 "Managing Politics & Power in Organizations," Monday & Wednesday, 2:30 - 4:00 PM	
</ul>
