<footer class="footer">
  <small>
    <a href="http://apknight.org/">Andrew Knight</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "HOLD",   '#' %></li>
      <li><%= link_to "HOLD", '#' %></li>
    </ul>
  </nav>
</footer>