<footer class="footer">
  <small>&copy; <%= Time.now.year %>
    <a href="http://apknight.org/">andrew p knight</a>
  </small>
  <nav>
    <ul>
    	<li><a href="mailto:knightap@wustl.edu">Contact</a></li>
    </ul>
  </nav>
</footer>